---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

const pageTitle = "My Astro Learning Blog";
---

<Layout title={pageTitle}>
	<!-- <Navigation /> -->
	<main>			
        <h1>{pageTitle}</h1>
        <p>This is where I will post about my journey learning Astro.</p>
        <ul>
            <li><a href="/astro-blog/posts/post-1/">Post 1</a></li>
            <li><a href="/astro-blog/posts/post-2/">Post 2</a></li>
            <li><a href="/astro-blog/posts/post-3/">Post 3</a></li>
        </ul>
	    <p>This is where I will post about my journey learning Astro.</p>
        <ul>
            <li><a href="/astro-blog/posts/post-1/">Post 1</a></li>
            <li><a href="/astro-blog/posts/post-2/">Post 2</a></li>
            <li><a href="/astro-blog/posts/post-3/">Post 3</a></li>
        </ul>
	</main>
	<!-- <Footer/> -->
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #040316;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
